@import "./variables";

.off-screen-menu{

    ul{
        display: flex;
        justify-content: left;
        flex-direction: column;

        li{
            //border: 1px pink solid;
            height: auto;
            line-height: 50px;
        }

        .features a, .company a{
            text-decoration: none;
            color: $primaryFontColor ;
    
        }
    }


    .sub-menu{
        display: none;
        li{
            line-height: 40px;
            a{
                text-decoration: none;
                color: $primaryFontColor ;

            }

        }
    }

}